body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  background-color: #fff;
}

.login-container {
  width:100%;
} 

.register-container {
  width:100%;
}
.login-container,
.register-container {
  background: #047f6a;
  background: -webkit-linear-gradient(180deg, #047f6a 0%, #02d6c4 100%);
  background: linear-gradient(180deg, #047f6a 0%, #02d6c4 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.login-form {
  height: 26.4rem;
  width: 30rem;
  padding: 50px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #1e2c4f;
  margin-bottom: 6rem !important;
  position: relative;
}

.signInButton {
  position: absolute;
  z-index: 1;
  top: -0.7rem;
  left: 7rem;
  border-radius: 0px;
}

.signInButton div button {
  width: 16rem;
  height: 3.7rem;
  border-radius: 0;
  background-color: #02d6c4;
}

.login-form::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 50%;
  height: 1rem;
  -webkit-box-shadow: 0 32px 32px 2px #003535;
  -moz-box-shadow: 0 32px 32px 2px #003535;
  box-shadow: 0 32px 32px 2px #003535;
}

.box-img {
  padding: -10px;
  margin-left: -3.1rem;
  margin-bottom: 6rem;
  width: 30rem;
  height: 2.5rem;
}

.box-img img {
  height: 5rem;
}
.user-main-icon {
  position: absolute;
  z-index: 1;
  top: 3.5rem;
  left: 11.9rem;
}

.input-group {
  height: 50px;
}

.form-control {
  background-color: #424d6b !important;
  border-color: #424d6b !important;
}

.input-group-text {
  background-color: #424d6b !important;
  border-color: #424d6b !important;
}

.loginButton {
  height: 50px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: #02d6c4;
}

/* //register */

.register-form {
  height: 33.6rem;
  width: 30rem;
  margin: 5rem auto;
  padding: 50px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #1e2c4f;
  margin-bottom: 6rem !important;
  position: relative;
}

/* // Logout */

.l





/* //media queries */

@media screen and (max-width: 550px) {
  .login-form {
    width: 20rem;
  }

  .signInButton {
    left: 5rem;
  }

  .signInButton div button {
    width: 10rem;
    height: 3.7rem;
    border-radius: 0;
    background-color: #02d6c4;
  }

  .box-img {
    padding: -10px;
    margin-left: -3.1rem;
    margin-bottom: 6rem;
    width: 20rem;
    height: 2.5rem;
  }
  .user-main-icon {
    left: 7rem;
  }

  .register-form {
    width: 20rem;
  }
}
